<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart with Flask and amCharts 5</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="/static/data.js" ></script>
    <script src="/static/chart.js" ></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
    <div id="chartdiv"></div>
    <div id="datadiv"></div>
</div>
</body>
</html>
